/* GENERAL RULES*/

body {
  position: relative;
  width: 100%;
  background-color: rgb(227, 227, 227);
}

section {
  background-color: rgb(227, 227, 227);
  float: right;
  width: 80%;
}

/*  SECTION */

<<<<<<< HEAD
#content {
=======
#content{
>>>>>>> fb84ef1c6ab8b20995a3d5a0561e6960e0eb9f0f
  width: 100%;
}

/* FOOTER */

* {
  margin: 0;
  padding: 0;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  width: 80%;
  height: 120px;
  background-color: white;
  color: black;
  text-align: right;
  background-image: url("../images/gamepad.jpg");
  background-repeat: no-repeat;
  background-size: 250px 180px;
  background-position: 10% 90%;
}

footer p {
  font-size: 1.5em;
  padding: 2em 2em 1em 2em;
  color: gray;
  text-align: right;
}

footer p span {
  font-size: 1.5em;
  color: black;
}


/* RESPONSIVE */


/*  less than extra small screen*/
@media screen and (max-width: 768px) {

  footer {
    background-size: 200px 140px;
    background-position: left 100%;
  }

  footer p {
    font-size: 1.2em;
  }

}

/*  less than extra small screen*/
@media screen and (max-width: 576px) {

  section {
    width: 100%;
  }

  footer {
    width: 100%;
    height: 120px;
    background-image: url("../images/gamepad.jpg");
    background-repeat: no-repeat;
    background-size: 120px 100px;
    background-position: left;
  }

  footer p {
    font-size: 1em;
  }

}