/*GENERAL PROPERTIES*/

* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}

body {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  height: 550px;
  padding: 20px;
  background-image: url("../images/background_06.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*----------title---------*/

.container {
  padding: 1em;
  position: relative;
  margin: 0 auto;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
}

.container * {
  display: block;
  margin: 1em auto;
  font-size: 1.5em;
  padding: 0.5em;
  width: 70%;
}

.container h1 {
  font-size: 2em;
  text-align: center;
  padding-bottom: 0;
  color: rgba(255, 109, 15, 0.83);
  text-transform: uppercase;
}

/*login button*/

input[type=button] {
  background: rgba(255, 109, 15, 0.83);
  color: rgb(227, 277, 277);
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 4px black;
}

input[type=button]:hover {
  background: rgba(153, 61, 0, 0.8);
  box-shadow: 3px 3px 4px black;
}

input[type=button]:focus {
  outline: none;
}

/* RESPONSIVE*/

/* less than small screen */
@media screen and (max-width: 992px) {}

/* less than small screen */
@media screen and (max-width: 768px) {

  .container {
    width: 60%;
  }

}

/*  less than extra small screen*/
@media screen and (max-width: 576px) {

  .container {
    width: 80%;
  }

}